*{

	margin: 0px;
	padding: 0px;
}


input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid white;
	font-size: 16pt;
	padding: 10px 20px;
	background-color: rgba(255,255,255,0.01);
	color:white;
	outline: none;

}
div#corpo-form{

	width: 420px;
	margin: 150px auto 0px auto;

}
div#corpo-form-cad{

	width: 420px;
	margin: 80px auto 0px auto;

}

body{

	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	color: white;
	font-family: arial;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

div#corpo-form h1,div#corpo-form-cad{

	text-align: center;
	padding: 20px;
}

a{

	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
}

a:hover{

	text-decoration: underline;
}

input[type=submit]{

	background-color: #e7e7e7; 
	color: black;
	border:none;
	cursor: pointer;

}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

div.msg-sucesso{

	width: 420px;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(50,205,50,.3);
	border: 1px solid rgb(34,139,34);


}


div.msg-erro{
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(250,128,114,.3);
	border: 1px solid rgb(165,42,42);

}